/* Il s'agit de la mise en forme du caroussel, comme par exemple la mise en 
forme des flèches gauches et droites*/
.slider-container {
    position: relative;

    .slider-arrow {
        position: absolute;
        height: 90px;
        width: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .arrow-left {
        cursor: pointer;
        right: 15px;
    }
    .arrow-right {
        cursor: pointer;
        left: 15px;
    }

    .slider{
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .cont-container {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $colorwhite;
        p {
            font-size: 18px;
        }
    }
}
/* Mise en forme pour mobile*/
@media screen and (max-width: 600px) 
{
    .cont-container {
        p {
            display: none;
        }
    }
}